S03_T03_Estructures_de_control/.ipynb_checkpoints/estructures_control-checkpoint.ipynb
S03_T02_Estructura_Matriu/.ipynb_checkpoints/imatges_numpy-checkpoint.ipynb
S03_T04_Practica_amb_programacio_numerica/.ipynb_checkpoints/programacio_numerica-checkpoint.ipynb
S03_T05_Exploracio_de_dades/.ipynb_checkpoints/Exploracio_de_dades-checkpoint.ipynb
